*~
/build
/*/build
/install
/*/install
core
core.*
CMakeFiles/*
CMakeCache.txt
/.vscode
/.vscode-cache
/config.mk
/fpsdk
*.fpl
*.fpl.gz
*.bag
*.bak
/.devcontainer/.bash_history.d
/.devcontainer/.vscode-server
/ws
/ws2
/ros_ws
/ros1_ws
/ros2_ws
CATKIN_IGNORE
COLCON_IGNORE
.catkin_tools
/log
/src
