*~
/build
/*/build
/install
/*/install
core
core.*
CMakeFiles/*
CMakeCache.txt
/.vscode
/.vscode-cache
/config.mk
/fpsdk
*.fpl
*.fpl.gz
*.bag
*.bak
/.devcontainer/.bash_history.d
/ws
CATKIN_IGNORE
COLCON_IGNORE
