########################################################################################################################
# ___    ___
# \  \  /  /
#  \  \/  /   Copyright (c) Fixposition AG (www.fixposition.com) and contributors
#  /  /\  \   License: see the LICENSE file
# /__/  \__\
#
########################################################################################################################

name: fixposition-sdk

services:

    # ----- no ROS -----------------------------------------------------------------------------------------------------

    build-trixie-base:
        image: ghcr.io/fixposition/fixposition-sdk:trixie-base
        build:
            context: ..
            dockerfile: docker/Dockerfile.trixie-base
    build-trixie-ci:
        image: ghcr.io/fixposition/fixposition-sdk:trixie-ci
        build:
            context: ..
            dockerfile: docker/Dockerfile.trixie-ci
        depends_on:
            - build-trixie-base
    build-trixie-dev:
        image: ghcr.io/fixposition/fixposition-sdk:trixie-dev
        build:
            context: ..
            dockerfile: docker/Dockerfile.trixie-dev
        depends_on:
            - build-trixie-base

    trixie-base:
        image: ghcr.io/fixposition/fixposition-sdk:trixie-base
        command: tail -f
    trixie-ci:
        image: ghcr.io/fixposition/fixposition-sdk:trixie-ci
        command: tail -f
    trixie-dev:
        image: ghcr.io/fixposition/fixposition-sdk:trixie-dev
        volumes:
            # Bash config
            - ../.devcontainer/.bashrc:/home/fpsdk/.bashrc
            - ../.devcontainer/.bash_logout:/home/fpsdk/.bash_logout
            # Persistent stuff
            - ../.devcontainer/.bash_history.d:/home/fpsdk/.bash_history.d
            - ../.devcontainer/.vscode-server:/home/fpsdk/.vscode-server
            # Workspace
            - ../.:/home/fpsdk/fixposition-sdk
        cap_add:
          - SYS_PTRACE # Set kernel.yama.ptrace_scope = 0 in /etc/sysctl.d/10-ptrace.conf
        hostname: fpsdk-trixie-dev-${USER}
        # Apparently required... (so that the container doesn't kill itself?)
        command: tail -f

    # ----- ROS1 -------------------------------------------------------------------------------------------------------

    build-noetic-base:
        image: ghcr.io/fixposition/fixposition-sdk:noetic-base
        build:
            context: ..
            dockerfile: docker/Dockerfile.noetic-base
        command: tail -f
    build-noetic-ci:
        image: ghcr.io/fixposition/fixposition-sdk:noetic-ci
        build:
            context: ..
            dockerfile: docker/Dockerfile.noetic-ci
        depends_on:
            - build-noetic-base
        command: tail -f
    build-noetic-dev:
        image: ghcr.io/fixposition/fixposition-sdk:noetic-dev
        build:
            context: ..
            dockerfile: docker/Dockerfile.noetic-dev
        depends_on:
            - build-noetic-base
        command: tail -f

    noetic-base:
        image: ghcr.io/fixposition/fixposition-sdk:noetic-base
        command: tail -f
    noetic-ci:
        image: ghcr.io/fixposition/fixposition-sdk:noetic-ci
        command: tail -f
    noetic-dev:
        image: ghcr.io/fixposition/fixposition-sdk:noetic-dev
        volumes:
            - ../.devcontainer/.bashrc:/home/fpsdk/.bashrc
            - ../.devcontainer/.bash_logout:/home/fpsdk/.bash_logout
            - ../.devcontainer/.bash_history.d:/home/fpsdk/.bash_history.d
            - ../.devcontainer/.vscode-server:/home/fpsdk/.vscode-server
            - ../.:/home/fpsdk/fixposition-sdk
        cap_add:
          - SYS_PTRACE
        hostname: fpsdk-noetic-dev-${USER}
        command: tail -f

    # ----- ROS2 -------------------------------------------------------------------------------------------------------

    build-humble-base:
        image: ghcr.io/fixposition/fixposition-sdk:humble-base
        build:
            context: ..
            dockerfile: docker/Dockerfile.humble-base
        command: tail -f
    build-humble-ci:
        image: ghcr.io/fixposition/fixposition-sdk:humble-ci
        build:
            context: ..
            dockerfile: docker/Dockerfile.humble-ci
        depends_on:
            - build-humble-base
        command: tail -f
    build-humble-dev:
        image: ghcr.io/fixposition/fixposition-sdk:humble-dev
        build:
            context: ..
            dockerfile: docker/Dockerfile.humble-dev
        command: tail -f
        depends_on:
            - build-humble-base
    humble-base:
        image: ghcr.io/fixposition/fixposition-sdk:humble-base
        command: tail -f

    humble-ci:
        image: ghcr.io/fixposition/fixposition-sdk:humble-ci
        command: tail -f
    humble-dev:
        image: ghcr.io/fixposition/fixposition-sdk:humble-dev
        volumes:
            - ../.devcontainer/.bashrc:/home/fpsdk/.bashrc
            - ../.devcontainer/.bash_logout:/home/fpsdk/.bash_logout
            - ../.devcontainer/.bash_history.d:/home/fpsdk/.bash_history.d
            - ../.devcontainer/.vscode-server:/home/fpsdk/.vscode-server
            - ../.:/home/fpsdk/fixposition-sdk
        cap_add:
          - SYS_PTRACE
        hostname: fpsdk-humble-dev-${USER}
        command: tail -f


    build-jazzy-base:
        image: ghcr.io/fixposition/fixposition-sdk:jazzy-base
        build:
            context: ..
            dockerfile: docker/Dockerfile.jazzy-base
        command: tail -f
    build-jazzy-ci:
        image: ghcr.io/fixposition/fixposition-sdk:jazzy-ci
        build:
            context: ..
            dockerfile: docker/Dockerfile.jazzy-ci
        depends_on:
            - build-jazzy-base
        command: tail -f
    build-jazzy-dev:
        image: ghcr.io/fixposition/fixposition-sdk:jazzy-dev
        build:
            context: ..
            dockerfile: docker/Dockerfile.jazzy-dev
        depends_on:
            - build-jazzy-base

    jazzy-base:
        image: ghcr.io/fixposition/fixposition-sdk:jazzy-base
        command: tail -f
    jazzy-ci:
        image: ghcr.io/fixposition/fixposition-sdk:jazzy-ci
        command: tail -f
    jazzy-dev:
        image: ghcr.io/fixposition/fixposition-sdk:jazzy-dev
        volumes:
            - ../.devcontainer/.bashrc:/home/fpsdk/.bashrc
            - ../.devcontainer/.bash_logout:/home/fpsdk/.bash_logout
            - ../.devcontainer/.bash_history.d:/home/fpsdk/.bash_history.d
            - ../.devcontainer/.vscode-server:/home/fpsdk/.vscode-server
            - ../.:/home/fpsdk/fixposition-sdk
        cap_add:
          - SYS_PTRACE
        hostname: fpsdk-jazzy-dev-${USER}
        command: tail -f


    # ----- containers to run pre-built apps ---------------------------------------------------------------------------

    build-trixie-run:
        image: ghcr.io/fixposition/fixposition-sdk:trixie-run
        build:
            context: ..
            dockerfile: docker/Dockerfile.trixie-run
        depends_on:
            - trixie-base
    trixie-run:
        image: ghcr.io/fixposition/fixposition-sdk:trixie-run
        command: tail -f

    build-noetic-run:
        image: ghcr.io/fixposition/fixposition-sdk:noetic-run
        build:
            context: ..
            dockerfile: docker/Dockerfile.noetic-run
        depends_on:
            - noetic-base
    noetic-run:
        image: ghcr.io/fixposition/fixposition-sdk:noetic-run
        command: tail -f

    build-humble-run:
        image: ghcr.io/fixposition/fixposition-sdk:humble-run
        build:
            context: ..
            dockerfile: docker/Dockerfile.humble-run
        depends_on:
            - humble-base
    humble-run:
        image: ghcr.io/fixposition/fixposition-sdk:humble-run
        command: tail -f

    build-jazzy-run:
        image: ghcr.io/fixposition/fixposition-sdk:jazzy-run
        build:
            context: ..
            dockerfile: docker/Dockerfile.jazzy-run
        depends_on:
            - jazzy-base
    jazzy-run:
        image: ghcr.io/fixposition/fixposition-sdk:jazzy-run
        command: tail -f


########################################################################################################################
