name: docker

on:
  # We build this only by manually triggering this job
  workflow_dispatch:
  # To be able to test on a branch, that branch must be added here, e.g:
  # push:
  #   branches: [ add-trafo-and-tests ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: login
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: build
      run: |
        docker build -t ghcr.io/fixposition/fixposition/sdk:ci -f Dockerfile.ci .
        docker push ghcr.io/fixposition/fixposition/sdk:ci
